.footer__copyright {
  display: flex;
  justify-content: center;
  margin: auto 0 0 0;
  padding: 60px 0 60px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.7;
}
