.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 60px 0 60px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.7;
}
