.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  display: block;
}
.modal__caption {
  color: white;
  display: inline-block;
  background-color: #212121;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  padding: 4px 8px;
  margin-top: 8px;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background: transparent url(../images/x.svg);
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/x-preview.svg);
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}
.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  color: #212121b2;
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  padding: 0 0 0 12px;
  border: 1px solid #21212166;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  box-sizing: border-box;
}
.modal__input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__input_type_error {
  border: 1px solid #ff000099;
  color: #2121214d;
}

.modal__error {
  display: none;
  margin-top: 8px;
  color: #ff0000b2;
  font-size: 16px;
  line-height: 110%;
}

.modal__error_visible {
  display: block;
}

.modal__button {
  max-width: 156px;
  background: #212121;
  height: 52px;
  opacity: 1;
  padding: 0;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fcf5e5;
  box-sizing: border-box;
}
.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button_disabled {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .modal__button {
    width: 100%;
    max-width: none;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    right: 0;
    top: -48px;
  }
  .modal__image {
    max-width: unset;
  }
  .modal__input {
    font-size: 16px;
  }
}
